<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../css/jquery.dataTables.min.css">
    <title>Admin</title>
</head>
<body style="background-image: url('../images/background.png');
 background-size: 100%; 
 background-repeat: 
 repeat-y;
 display: flex;
 justify-content: center;
 align-items: center;
 vertical-align: middle;
 position: relative;"
 
 class="align-middle"
 >

        <div class="input-group w-50 align-middle" style="position: absolute;
        top: 50%;
        margin-top: 100px;" >
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="archivo" aria-describedby="inputGroupFileAddon04" onchange="seleccionarRuta()">
                  <label class="custom-file-label" for="archivo">Choose file</label>
                </div>
                <div style="margin-left: 4%;">
                  <button class="btn btn-success" type="button" id="inputGroupFileAddon04">Button</button>
                </div>
              </div>
    
    <script type="text/javascript" src="../js/admin.js"></script>
    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
</body>
</html>