<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chat Bot</title>
    <link href="../css/chat.css" type="text/css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../css/jquery.dataTables.min.css">

</head>

<body style="background-image: url('../images/background.png'); background-size: 100%; background-repeat: repeat-y;">
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link " href="/">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span id="hora"></span>
                        <span>:</span>
                        <span id="minutos"></span>
                        <span>:</span>
                        <span id="segundos"></span>
                    </a>

                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalCenter">About</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="container">
        <h3 class=" text-center">Chat Bot</h3>
        <div class="messaging">
            <div class="inbox_msg" style="background-color: white">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Recent</h4>
                        </div>
                        <div class="srch_bar">
                            <div class="stylish-input-group">
                                <input type="text" class="search-bar" placeholder="Search">
                                <span class="input-group-addon">
                                    <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="inbox_chat">
                        <div class="chat_list active_chat">
                            <div class="chat_people">
                                <div class="chat_img"> <img src="../images/user-profile.png" alt="sunil"> </div>
                                <div class="chat_ib">
                                    <h5>Bot chat <span class="chat_date"></span></h5>
                                    <p id=l ast_message></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mesgs">
                    <div class="msg_history" id="msg_history">
                    </div>
                    <div class="type_msg">
                        <div class="input_msg_write">
                            <input type="text" class="write_msg" placeholder="Type a message" id="write_msg" />
                            <button class="msg_send_btn" type="button" onclick="sendMessage()"><img src="images/enviar.png" ><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">About</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <p><b>Universidad Nacional de Costa Rica</b><br> <b>Curso:</b> Paradigmas de programación<br> <b>Profesor:</b> Carlos Loría Sáenz<br> <b>Proyecto:</b> Chat Bot
                    </p>
                    <p>
                        <b>Desarrolladores:</b><br> Jose Alonso Alfaro Pérez<br> Alessandro Fazio Pérez<br> Sheng Yuan Lin<br> Danny Gómez Chaves<br>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/chat.js"></script>
    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
</body>

</html>