<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
        <title>Login</title>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="/css/jquery.dataTables.min.css">
        
</head>

<body style="background-image: url('images/background.png'); 
background-size: 100%; background-repeat: 
repeat-y;
display: flex;
justify-content: center;
align-items: center;
vertical-align: middle;
position: relative;">
    

    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
      <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
          <li class="nav-item">
            <a class="nav-link " href="/" >Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link " data-toggle="modal" data-target="#exampleModalCenter" >About</a>
            </li>
        </ul>
      </div>
    </header>

    <div class="w-50" style="position: absolute;
    top: 50%;
    margin-top: 100px;" >
            <form class="px-4 py-3">
              <div class="form-group">
                <label>Username</label>
                <input type="email" class="form-control" placeholder="Username" id="username">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password" id="password">
              </div>
              <div style="text-align: center;">
              <button type="button" class="btn btn-primary btn-lg" onclick="login()">Sign in</button>
              </div>    
            </form>
          </div>
      
      <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Aoaut</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Universidad Nacional de Costa Rica<br>
            Curso: Paradigmas de programacion<br>
            Profesor: Carlos Loria Saenz<br>
            Proyecto:
          </p>
            <p>
            Equipo desarrollador:<br>
            Jose Alonso Alfaro Perez<br>
            Alessandro Fazio Perez<br>
            Sheng <br>
            Dnny <br>
          </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    
    <script type="text/javascript" src="/js/login.js"></script>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>

</html>

